@charset "utf-8";

/*----------------------*/
/* General Rules        */
/*----------------------*/

:root {
    --app-font-color: #f4f5f7;
    --app-background-color: #222;

    --app-page-height: 100svh;
}

a {
    text-decoration: none;
}

.container {
    width: min(100% - 30px, 920px);
    margin-inline: auto;
}

body {
    font-family: "Nunito Sans", "Noto Sans", Arial, sans-serif;
    background-color: var(--app-background-color);
    color: var(--app-font-color);
}

.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.grid-center {
    place-items: center;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.height-100 {
    height: 100%;
}

.center {
    text-align: center;
}

.pad-20 {
    padding: 20px;
}

.off {
    display: none;
}

.on {
    display: inline;
}


/******************/
/* Shape factory **/
/******************/

main {
    height: var(--app-page-height);
}

select {
    height: 46px;
    padding: 0 5px;
    font-size: 17px;
    color: #777;
    background: rgb(255 255 255 / 5%);
    border: 1px solid rgb(255 255 255 / 5%);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

select:focus {
    border: 1px solid #881010;
}

input[type=button] {
    height: 46px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    background-color: #ff7B00;
    padding: 0 25px;
}
.factory-box {
    width: 530px;
    text-align: center;

    .row {
        width: 100%;
        min-height: 40px;

        h2 {
            font-size: 25px;
            font-weight: 400;
        }
    }
}
.form {
    form {
        width: 100%;

        select {
            flex: 1;
            min-width: 0;
            box-sizing: border-box;
        }
    }
}

.grid-container {
    height: 310px;
    width: 100%;
    background-color: rgb(255 255 255 / 5%);
    border-radius: 5px;

}

.shape-bucket {
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 65px;
    column-gap: 5px;
    row-gap: 10px;
    padding: 10px;
}

.shape {
    width: 65px;
    height: 65px;
}

.circle {
    border-radius: 50%;
}

.square {
    border-radius: 4px;
}

.error {
    color: #f00;
}
